@using Newtonsoft.Json
@using TestAppRazorMAUI.Data
@inject FetchSituations FetchAllSituations

@page "/"


<table>
</table>

@code {
	private IEnumerable<Situation> result;

	protected override async Task OnInitializedAsync()
	{
		result = await FetchAllSituations.FetchAllSituations();
	}
}